html,body { height: 100%; margin: 0px; padding: 0px; }

.container {
  height: 100%;
  width: 100%;
}

.canvas-container {
  height: 100%;
  background-color: #f9f9f9;
  padding: 20px;
}

.panel-container{
  background-color: #fcf3f2;
  height: 100%;
  border-left: 1px solid;
  border-color: #ffd1cc;
}

.title {
  text-align: center;
  color: #dd5c00;
}

#image-container {
    margin: 20px;
}
